/*
 * Style from contacts page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.certificate
	body
		main
			.items
				background: #fff
				padding: 111px 0 0

				ul
					+resetCss
					list-style-type: none
					font-size: 0

					li
						font-size: 26px
						font-family: "futurafuturiscRegular"
						text-align: center
						margin: 0 0 187px
						display: inline-block
						vertical-align: top
						width: 33.333%

						a
							color: #000
							text-decoration: none
							position: relative
							max-width: 380px
							height: auto
							display: block
							padding: 55px 0 0
							margin: 0 auto

							&::before
								content: ""
								+size(100%)
								max-width: 380px
								max-height: 380px
								+bg("adventure-bg.png", no-repeat)
								display: block
								+absolute(0, auto, auto, 0)
								background-size: contain

								@media(max-width: 1200px)
									display: none

							p
								margin: 62px 0 0
