/*
 * Style from contacts page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.contacts
	body
		main
			.contacts-list
				background: #fff

				article
					padding-top: 102px

					.title
						font-family: "PFRegalDisplayblack"
						font-size: 82px
						margin-bottom: 45px

					address
						font-style: normal
						margin-bottom: 71px

						p
							margin: 0 0 18px

						ul
							+resetCss
							list-style-type: none

					.employees-list
						ul
							+resetCss
							list-style-type: none
							display: flex
							flex-flow: column wrap
							font-size: 0

							li
								width: 50%
								font-size: 20px
								margin-bottom: 42px

								p
									margin: 0

								.img
									width: 20.7%

									img
										width: 100%
										max-width: 117px

								.text
									width: 78%

									.name
										font-family: "futurafuturiscRegular"

									p
										margin-bottom: 16px

									ul li
										width: 100%
										margin-bottom: 0

					.map
						width: 100%
						height: 851px
						margin-top: 63px

						img
							display: none
