.employees
	body
		main
			.preview-text
				background: #292725
				color: #fff
				font-size: 0
				height: 440px

				.container
					max-width: 1058px
					position: relative
					top: 50%
					transform: translateY(-54%)

					.column
						width: 50%
						font-size: 24px
						vertical-align: top
						line-height: 1.2

						&:nth-child(2)
							margin-top: 7px

						h3
							margin: 0
							font-weight: normal
							font-size: 30px
							color: #ffe2a8
							max-width: 460px

			.employees-list
				background: #fff

				.container
					max-width: 100%
					min-width: auto
					width: 913px
					padding: 107px 0 18px

					ul
						+resetCss
						list-style: none

						li
							font-size: 0
							margin-bottom: 87px

							.column
								font-size: 20px
								line-height: 1

							.img
								width: 456px

								img
									max-width: 399px
									border-radius: 100%

							.text
								max-width: 450px
								
								.name
									font-size: 26px
									font-family: "futurafuturiscRegular"

								ul
									li
										font-size: 20px
										margin-bottom: 3px

									a
										color: #bc9547
										text-decoration: underline

										&:hover
											color: #bc9547
											text-decoration: none

								p
									margin: 17px 0 20px
