/*
 * Styles from page not found
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "./news/detail"

%big-td
	height: auto !important
	line-height: 192px !important

.not-found
	body
		main
			.not-found-body
				background: #fff
				text-align: center
				font-size: 22px
				height: 100vh
				display: flex

				.container
					margin: auto

					h1
						margin: 0 0 24px
						font-weight: normal
						font-family: "PFRegalDisplayBold"
						font-size: 100px

					.back
						@extend %back
						margin-left: -37px
						margin-top: 195px

						@media(max-height: 740px)
							margin-top: 0

.table-menu .container table tr td
	@extend %big-td

	a
		@extend %big-td
