/*
 * Styles from page providers
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%providers-list
	+resetCss
	list-style: none
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	li
		font-size: 20px
		margin-bottom: 3px
		width: 41%

		.body
			max-width: 470px
			padding-left: 5px

			.logo
				height: 113px
				display: flex

				img
					margin: auto 0 auto -4px

			.title
				font-size: 26px
				font-family: "futurafuturiscRegular"
				margin: 37px 0 3px

			p
				margin: 0

				img
					margin-right: 5px

			a
				color: #bc9547
				text-decoration: underline
				display: block
				margin: 18px 0 23px

				&:hover
					color: #bc9547
					text-decoration: none

			.text
				line-height: 1.2

				p
					margin: 0 0 24px

.providers
	body
		main
			.provides-list
				background: #fff
				padding: 128px 0 130px

				.container
					max-width: 1169px

					ul
						@extend %providers-list
