/*
 * Main file styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "variables"
@import "mixins"
@import "fonts"

@import "../app/components/normalize-scss/_normalize.scss"
@import "../app/components/slick-carousel/slick/slick.scss"
@import "./components/fancyBox/source/jquery.fancybox.css"

@import "./production/index"
@import "./employees"
@import "./providers"
@import "./contacts"
@import "./history/index"
@import "./certificate"
@import "./factory/index"
@import "./main-page/index"
@import "./news/index"
@import "./not-found"

%subitems
	ul
		+resetCss
		list-style-type: none
		display: flex
		min-height: 175px
		align-items: center

		li
			margin: 15px auto 29px
			width: 215px

			a
				font-size: 20px
				color: #161616
				display: block
				text-decoration: none

				&:hover
					color: #e0b55f

					.img .hover
						display: block

				.img
					position: relative

					img
						width: 100%

					.hover
						position: absolute
						left: 0
						top: 0
						display: none
						z-index: 1

				p
					margin: 0 0 0 26px


html
	height: 100%

	body
		background: #f4eee6
		font-family: "FuturaBookCRegular", sans-serif
		width: 100%
		max-width: 1980px
		min-width: 980px
		height: 100%
		color: #161616
		font-size: 20px

		.slick-arrow
			position: absolute
			border: none
			+bg("production/slider-arrow.png", no-repeat)
			background-position: 0 -114px
			width: 58px
			height: 114px
			z-index: 1
			padding: 0
			outline: none
			font-size: 0

		.slick-prev
			background-position: 0 0

		.page-header
			+bg("baner-bg.jpg", repeat 0 0)
			background-size: cover
			color: #ffe2a8
			z-index: 0
			position: relative

			&::before
				content: ""
				background: RGBA(0, 0, 0, 0.45)
				+absolute(0)
				width: 100%
				height: 100%

			p
				display: block
				text-align: center
				margin: 0
				width: 550px
				font-size: 50px
				font-family: "PFRegalDisplayBold"
				position: relative
				margin: 0 auto
				line-height: 1
				z-index: 2
				padding: 189px 0 46px

				&::before
					content: ""
					background: #ffe2a8
					width: 108px
					height: 1px
					display: block
					margin: 0 auto 47px

		.btn
			$h: 46px

			display: inline-block
			font-size: 20px
			color: #ffffff
			background: #292725
			height: $h
			line-height: $h
			border-radius: 24px
			padding: 0 37px
			text-decoration: none
			border: none
			outline: none

			&:hover
				background: #e0b55f
				color: inherit
				+transition(background)

		.btn-invert
			@extend .btn
			background: none
			color: #161616
			border: 1px solid #e2ba6a

		.btn-white
			@extend .btn
			background: #f4eee6
			color: #000000

			&:hover
				color: inherit

		*
			box-sizing: border-box

		a
			color: #bc9547
			text-decoration: underline

			&:hover
				color: #bc9547
				text-decoration: none

		.container
			max-width: 1390px
			min-width: 980px
			width: 100%
			padding: 0 10px
			margin: 0 auto

			.column
				display: inline-block
				vertical-align: middle

		header.container
			padding-top: 30px
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			display: flex
			align-items: center
			z-index: 1

			.topmenu
				margin-left: auto

				nav > ul
					+resetCss
					list-style: none

					> li
						display: inline-block

						&:last-child
							a
								padding: 22px 10px 27px

						> a
							text-decoration: none
							color: #fff
							font-size: 28px
							padding: 22px 23px 27px
							+transition(color)

							@media(max-width: 1070px)
								padding: 22px 10px 27px

							&:hover
								color: #e0b55f

						&.submenu
							&.active
								a
									background: #fff
									color: #161616
									transition: background 0.3s ease-out


								.subitems
									visibility: visible
									opacity: 1

							.subitems
								position: absolute
								left: 0
								top: 135px
								background: #fff
								visibility: hidden
								opacity: 0
								transition: opacity 0.3s ease-out
								z-index: 3

								@extend %subitems
		main
			width: 100%
			height: auto
			min-height: 100%
			padding: 0 0 188px

		@import "./modules/table-menu"
		@import "./modules/manager"

		footer.container
				display: flex
				align-items: center
				font-size: 20px
				padding: 58px 10px 46px
				height: 188px
				margin-top: -188px

				a
					color: #000
					text-decoration: none
					+transition(color)

					&:hover
						color: #e0b55f

				.logo
					width: 111px

				.menu
					ul
						+resetCss
						list-style: none

						li
							display: inline-block
							margin-right: 27px

				.developer
					margin-left: auto

					a
						+bg("wi.png", no-repeat right center)
						font-size: 18px
						padding-right: 21px

		@import "./modules/popup"
