extends ./layot.jade

block config
	- var htmlClass = "certificate"
	
block content
	section.page-header
		.conainer
			p Сертификаты
	section.items
		.container
			ul
				li
					a.fancy(href="#{imgPath}/certificate/item1.png", rel="certificate")
						img(src="#{imgPath}/certificate/item1.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item1.png", rel="certificate")
						img(src="#{imgPath}/certificate/item1.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item2.png", rel="certificate")
						img(src="#{imgPath}/certificate/item2.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item1.png", rel="certificate")
						img(src="#{imgPath}/certificate/item1.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item3.png", rel="certificate")
						img(src="#{imgPath}/certificate/item3.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item2.png", rel="certificate")
						img(src="#{imgPath}/certificate/item2.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item2.png", rel="certificate")
						img(src="#{imgPath}/certificate/item2.png")
						p Сертификат соответствия
				li
					a.fancy(href="#{imgPath}/certificate/item2.png", rel="certificate")
						img(src="#{imgPath}/certificate/item2.png")
						p Сертификат соответствия
	
	include ./modules/table-menu.jade
	include ./modules/manager.jade
	
	
