extends ./layot.jade

block config
	- var htmlClass = "contacts";

block content
	section.page-header
		.conainer
			p Контакты
	section.contacts-list
		article
			.container
				.title Офис
				address
					p 344093, Ростов-на-Дону, ул. Травяная, 30/36 Б
					ul
						li Тел.: +7 (863) 300-21-60
						li E-mail: #[a(href="mailto: info@ama-don.ru") info@ama-don.ru]
				.employees-list
					include ./modules/employees-list.jade
				
			.map#map1(data-center="55.76, 37.64", data-baloon="55.76, 37.64", data-baloon-text="Москва")
				img(src="#{imgPath}/marker.png")
		
		article
			.container
				.title Производство
				address
					p 344007, Ростов-на-Дону, ул. Туполева, 16
					p Территория завода «Алмаз»
				
			.map#map2(data-center="55.76, 37.64", data-baloon="55.76, 37.64", data-baloon-text="Столица")
				img(src="#{imgPath}/marker.png")
