extends ./layot

block config
	- var htmlClass = "employees";
	
block content
	section.page-header
		.conainer
			p Сотрудники
	
	section.preview-text
		.container
			.column
				h3.
					С момента основании компании в 2011 году наш штат увеличился в 4 раза: 
					с 30 до 120 человек.
			.column.
				Сегодня в нашей команде трудится множество высококвалифицированных 
				специалистов, «выросших» внутри компании: инженеры, конструкторы, 
				операторы, наладчики, специалисты по качеству и многие другие.
	
	section.employees-list
		.container
			include ./modules/employees-list.jade
			

	include ./modules/table-menu.jade
	include ./modules/manager.jade
	
