extends ./layot.jade

block config
	- var htmlClass = "factory"
	
block content
	section.page-header
		.conainer
			p Производство
	section.video
		.play
		img.poster(src="#{imgPath}/factory/poster.jpg")
		video
			source(src="./small.mp4", type="video/mp4")
	section.about
		.container
			.column
				h3.
					Производство компании «АмА-Дон» находится #[br]
					в городе Ростов-на-Дону.
				p.
					На сегодняшний день мы располагаем модифицированным парком 
					оборудования, позволяющим выпускать мюзле Экстра-класса.
					Станки для производства мюзле собираются по чертежам 
					специалистов компании «АмА-Дон».
				img(src="#{imgPath}/factory/about.png")
			.column
				h2.
					Производственная мощность компании составляет #[br]
					200 000 000 мюзле в год.
	section.numbers
		ul
			li
				.img
					img(src="#{imgPath}/factory/numbers1.jpg", alt="")
				.text
					span 9
					p линий по производству мюзле с плакеткой
			li
				.img
					img(src="#{imgPath}/factory/numbers2.jpg", alt="")
				.text
					span 2
					p линии по производству мюзле без плакетки
			li
				.img
					img(src="#{imgPath}/factory/numbers3.jpg", alt="")
				.text
					span 2
					p линии изготовления формованных плакеток
			li
				.img
					img(src="#{imgPath}/factory/numbers4.jpg", alt="")
				.text
					p Собственный парк станков механической обработки
	section.about-2
		.container
			.row
				.column
					p.
						Производство мюзле на предприятии подчинено жестким правилам и 
						проходит в соответствии с государственными стандартами качества: 
						геометрические размеры и форма мюзле строго соответствуют чертежам, 
						свободный ремешок формируется из отдельного отрезка проволоки и не 
						имеет фиксации на ножке мюзле, что позволяет избежать его перекоса 
						при укупорке. 
				.column
					h2 Гарантия качества: 12 месяцев #[br] со дня отгрузки
			ul
				li
					.body
						.icon
						.title Сертификация
						p.
							Вся продукция компании сертифицирована
							на территории России и декларирована техническим регламентом 
							Таможенного союза «О безопасности упаковки». 
				li
					.body
						.icon
						.title Упаковка
						p.
							Мюзле компании «АмА-Дон» уложено в гирлянду. Транспортной 
							упаковкой мюзле является короб из гофрокартона по ГОСТ 9142. 
							В коробе  уложено 3 уровня гирлянд мюзле.
				li
					.body
						.icon
						.title Ноу-хау
						p.
							Мы предлагаем  оригинальное решение: мюзле
							с индивидуальным дизайном. Мы наносим на плакетку любое 
							изображение: логотип, полноцветное изображение, информацию. 
							С помощью брендированного мюзле производитель может выделить 
							свою продукцию на полках, защитить от подделки, повысить 
							узнаваемость продукта, подчеркнуть его эксклюзивность и 
							увеличить продажи. 
				li
					.body
						.icon
						.title Наша команда
						p.
							На момент основания компании в 2011 году штат компании состоял 
							из 30 человек.
						p.
							С развитием компании увеличивалось число сотрудников,
							в настоящее время в коллективе трудятся 120 высококвалифицированных 
							специалистов. Это инженеры, конструкторы, специалисты по 
							качеству, наладчики, операторы, и многие другие.
						p.
							Наличие конструкторского бюро – один из факторов, которым 
							обусловлено высокое качество нашего мюзле.
	section.provides
		.container
			.title Поставщики
			
			ul
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item1.png", alt="")
						.title Bianchini Engineering Inc.
						p Поставщик проволоки
						p #[img(src="#{imgPath}/provides/flags/item1.png", alt="")] Испания 
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item2.png", alt="")
						.title Bekaert
						p Поставщик проволоки
						p #[img(src="#{imgPath}/provides/flags/item2.png", alt="")] Бельгия 
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item3.png", alt="")
						.title ООО «Печатные Технологии»
						p Партнер по литографии
						p #[img(src="#{imgPath}/provides/flags/item3.png", alt="")] Россия 
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item4.png", alt="")
						.title ООО «ПеЛаКрон»
						p Партнер по литографии
						p #[img(src="#{imgPath}/provides/flags/item3.png", alt="")] Россия 
