extends ./layot.jade

block config
	- var htmlClass = "history"
	
block content
	section.page-header
		.conainer
			p История
	
	section.history-slide
		.navigation.container
			ul
				li(data-slide="0") 2011
				li(data-slide="1") 2012
				li(data-slide="2") 2013
				li(data-slide="3") 2014
				li(data-slide="4") 2015
				li(data-slide="5") 2016
		.content
			ul
				li
					.title.column 2011
					.text.column
						p.
							28 августа 2011 года – дата основания компании «Ама-Дон». 
							Перед компанией стояла #[br] задача – обеспечить российских 
							производителей игристых и шампанских вин качественным #[br] мюзле.
						p. 
							До этого в России не было крупного производителя мюзле, 
							и заводы закупали иностранные комплектующие, что было дорого 
							и долго.
					.img.column
						img(src="#{imgPath}/history/item2.png", alt="")
						img(src="#{imgPath}/history/item1.png", alt="")
				li
					.title.column 2012
					.text.column
						p.
							28 августа 2011 года – дата основания компании «Ама-Дон». 
							Перед компанией стояла задача – обеспечить российских 
							производителей игристых и шампанских вин качественным мюзле.
						p. 
							До этого в России не было крупного производителя мюзле, 
							и заводы закупали иностранные комплектующие, что было дорого 
							и долго.
					.img.column
						img(src="#{imgPath}/history/item1.png", alt="")
						img(src="#{imgPath}/history/item2.png", alt="")
				li
					.title.column 2013
					.text.column
						p.
							28 августа 2011 года – дата основания компании «Ама-Дон». 
							Перед компанией стояла задача – обеспечить российских 
							производителей игристых и шампанских вин качественным мюзле.
						p. 
							До этого в России не было крупного производителя мюзле, 
							и заводы закупали иностранные комплектующие, что было дорого 
							и долго.
					.img.column
						img(src="#{imgPath}/history/item1.png", alt="")
						img(src="#{imgPath}/history/item2.png", alt="")
				li
					.title.column 2014
					.text.column
						p.
							28 августа 2011 года – дата основания компании «Ама-Дон». 
							Перед компанией стояла задача – обеспечить российских 
							производителей игристых и шампанских вин качественным мюзле.
						p. 
							До этого в России не было крупного производителя мюзле, 
							и заводы закупали иностранные комплектующие, что было дорого 
							и долго.
					.img.column
						img(src="#{imgPath}/history/item1.png", alt="")
						img(src="#{imgPath}/history/item2.png", alt="")
				li
					.title.column 2015
					.text.column
						p.
							28 августа 2011 года – дата основания компании «Ама-Дон». 
							Перед компанией стояла задача – обеспечить российских 
							производителей игристых и шампанских вин качественным мюзле.
						p. 
							До этого в России не было крупного производителя мюзле, 
							и заводы закупали иностранные комплектующие, что было дорого 
							и долго.
					.img.column
						img(src="#{imgPath}/history/item1.png", alt="")
						img(src="#{imgPath}/history/item2.png", alt="")
				li
					.title.column 2016
					.text.column
						p.
							28 августа 2011 года – дата основания компании «Ама-Дон». 
							Перед компанией стояла задача – обеспечить российских 
							производителей игристых и шампанских вин качественным мюзле.
						p. 
							До этого в России не было крупного производителя мюзле, 
							и заводы закупали иностранные комплектующие, что было дорого 
							и долго.
					.img.column
						img(src="#{imgPath}/history/item1.png", alt="")
						img(src="#{imgPath}/history/item2.png", alt="")
	
	section.about-history
		.column.img
			img(src="#{imgPath}/history/about.png")
		.column.text
			.body
				h3.
					Одним из элементов оригинального декора для шампанских и игристых 
					вин — красивое мюзле.#[br] Оно не только обеспечивает качество укупорки, #[br] 
					но и считается значимым маркетинговым инструментом продвижения 
					продукта на рынок. 
				p.
					Мы предлагаем производителям игристых и шампанских вин оригинальное 
					решение: красивое мюзле с индивидуальным дизайном. Мы наносим на 
					плакетку любое изображение: логотип, полноцветное изображение, 
					информацию. С помощью брендированного мюзле производитель может 
					выделить свою продукцию на полках, защитить от подделки, повысить 
					узнаваемость продукта, подчеркнуть его эксклюзивность и увеличить 
					продажи. 
	
	section.advent
		ul
			li
				.body
					.icon
					.title Мы берем все обязательства на себя
					ul
						li Разработка дизайн-макета мюзле
						li Доставка продукции на склад клиента
						li Послепродажное сервисное обслуживание
					p.
						От клиента требуется только #[a(href="#") сформировать заявку]
						на производство продукции
			li
				.body
					.icon
					.title Клиент для нас на первом месте
					p.
						Деятельность компании «АмА-Дон» всегда была направлена на 
						удовлетворение потребностей каждого покупателя, независимо от 
						тиража заказанного мюзле и суммы контракта. Наша политика — это 
						честные и долговременные отношения как с клиентами, так и 
						поставщиками. Обращаясь в нашу компанию,вы можете полностью нам 
						довериться. 
			li
				.body
					.icon
					.title Мы знаем свое дело
					p.
						Коллектив компании «АмА-Дон» — сплоченная команда профессионалов, 
						знающих свое дело, не раз доказавшая свою способность решать самые 
						сложные задачи.
			li
				.body
					.icon
					.title Давайте сотрудничать!
					p.
						Мы уверены в качестве и уникальности нашего мюзле.
						И настроены на долгосрочные партнерские отношения.
	
	include ./modules/table-menu.jade
	include ./modules/manager.jade
	
	
