extends ./layot

block config
	- var htmlClass = "main-page";

block content
	section.banner
		.preload
			img(src="#{imgPath}/logo.png")
		.image
			div
				img(data-lazy="#{imgPath}/baner-bg.jpg")
			div
				img(data-lazy="#{imgPath}/baner-2.jpg")
			div
				img(data-lazy="#{imgPath}/baner-3.jpg")
		.cover
			.text.
				Единственный производитель мюзле экстра-класса#[br]
				в России
			a.down(href="#down")

	section.adventure
		.container
			ul
				li
					.text Мы производим 200 000 000 мюзле в год
				li
					.text Ключевые позиции всегда есть #[br] на нашем складе
				li
					.text Доставим #[br] на ваш склад бесплатно

	section.items
		include ./modules/menu-items.jade

	section.about
		.container
			ul
				li
					.text
						img(src="#{imgPath}/main-about/item1.png", alt="")
						h3 Высокотехнологичное оборудование
						p Производим мюзле любого типа и размера, #[br] под любой запрос клиента.
				li
					.text
						img(src="#{imgPath}/main-about/item2.png", alt="")
						h3 Наши #[br] технологии
						p Используем технологии многоцветной #[br] печати и конгревного тиснения плакетки.
				li
					.text
						img(src="#{imgPath}/main-about/item3.png", alt="")
						h3 Широкий #[br] ассортимент
						p.
							Наше мюзле сделает уникальной любую бутылку газированного напитка:
							игристое вино, детское шампанское, крафтовое пиво и сидр.
				li
					.text
						img(src="#{imgPath}/main-about/item4.png", alt="")
						h3 Контроль качества #[br] продукции
						p.
							Мы строго следим за качеством поступающего сырья #[br]
							с учетом требований ГОСТ-24297.
				li
					.text
						img(src="#{imgPath}/main-about/item5.png", alt="")
						h3 Сертификация
						p.
							Вся продукция сертифицирована и декларирована
							на территории России и ТС.
				li
					.text
						img(src="#{imgPath}/main-about/item6.png", alt="")
						h3 Бесплатное сервисное послепродажное обслуживание
						p Предлагаем бесплатный сервис по настройке оборудования под наше мюзле.

	section.news
		.container
			article
				.body
					time(datetime="05/07") 05/07
					a(href="#") 5 июля отмечаем День Рождения Мюзле!
					.text.
						172 года назад, 5 июля 1844 года Адольф Жаксон, внук основателя
						компании «Jaquesson & Fils» Клода Жаксона, ...
			article
				.body
					time(datetime="05/07") 01/07
					a(href="#").
						Компания «АмА-Дон» приняла участие в Выставке «Крым-Юг России»,
						в городе Севастополь
					.text.
						Выставка  проходила 28-29 Мая при поддержке Правительства Севастополя.
						Это уже третья выставка, посвященная ...
			article
				.body
					time(datetime="05/07") 02/07
					a(href="#").
						Компания «АмА-Дон» принимает участие в III Черноморском Форуме
						Виноделия, который проходит 30 июня – 1 июля в городе «Сочи»
					.text.
						В этом году Форум проводится под высоким патронатом Международной
						Организации Виноградарства и ...
			a.btn(href="#") Все новости
