- var tplPath = "./";
- var imgPath = tplPath + "img";
- var mainClass = "";
- var htmlClass = "";
block config
	
doctype html
html(lang='ru', class="#{htmlClass}")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content="width=980, initial-scale=0")
		title Ama-Don
		link(rel='shortcut icon', type='image/x-icon', href='#{imgPath}/favicon.ico')
		link(rel="stylesheet", href="build.css")
		script(src="build.js", charset="utf-8")
		
	body
		header.container
			.column.logo
				if htmlClass == "not-found"
					a(href="/")
						img(src="#{imgPath}/logo-black.png")
				else
					a(href="/")
						img(src="#{imgPath}/logo.png")
			if htmlClass != "not-found"
				.column.topmenu
					nav
						ul
							li.submenu
								a(href='#') Компания
								.subitems
									.container
										ul
											li
												a(href='#') История
											li
												a(href='#') Сотрудники
											li
												a(href='#') Поставщики
											li
												a(href='#') Сертификаты
								li: a(href="#") Производство
								li.submenu
									a(href="#") Мюзле
									.subitems
										.container
											include ./modules/menu-items.jade
												
								li: a(href="#") Награды
								li: a(href="#") Клиенты
								li: a(href="#") Контакты
		main(class="content #{mainClass}")
			block content
		footer.container
			.column.logo
				a(href="/")
					img(src="#{imgPath}/logo-footer.png")
			.column.menu
				nav
					ul
						li: a(href="#") Компания
						li: a(href="#") Производство
						li: a(href="#") Мюзле
						li: a(href="#") Награды
						li: a(href="#") Клиенты
						li: a(href="#") Контакты
			.column.developer
				a(href="http://web-izmerenie.ru") Сделано в
		
		.overlay
		
		.popup#litograpthy
			.close
			.title Литография
			.body.
				Cпособ печати, при котором краска под давлением переносится с плоской 
				печатной формы. Печать высокого класса (отличающаяся идеальной четкостью 
				и качеством изображения) дает возможность воплотить самые сложные идеи 
				и нанести на плакетку любое цветное изображение или логотип заказчика.
				
		.popup#form-quest
			.close
			.title Задать вопрос
			.body
				form
					input(type="text", name="q", value="")
					.form-group
						label(for="form-quest-name") Имя
						input.require(type="text", name="name", id="form-quest-name")
					.form-group
						label(for="form-quest-company") Компания
						input.require(type="text", name="company", id="form-quest-company")
					.form-group
						label(for="form-quest-tel") Телефон или E-mail
						input.require(type="text", name="tel", id="form-quest-tel")
					textarea(placeholder="Ваш вопрос", name="msg")
					input.btn-white(type="submit", value="Отправить")
				.sucsess-message.
					Спасибо за ваше обращение.#[br]
					Наш менеджер с вами свяжется в течение 1 часа.
