extends ./layot

block config
	- var htmlClass = "news";
	
block content
	section.page-header
		.conainer
			p Новости
			
	section.news-list
		.container
			article
				.body
					time 05/07/2016
					a(href="#") 5 июля отмечаем #[br] День Рождения Мюзле!
					.text
						img(src="#{imgPath}/news/item1.png", alt="")
						span.
							172 года назад, 5 июля 1844 года Адольф Жаксон, внук основателя 
							компании «Jaquesson & Fils» Клода Жаксона, оформил патент на мюзле. 
							Наверняка все знают, что мюзле — это проволочная уздечка, которая 
							удерживает пробку игристых и шампанских вин...
			article
				.body
					time 01/07/2016
					a(href="#") Компания «АмА-Дон» приняла участие в Выставке «Крым-Юг России»
					.text
						img(src="#{imgPath}/news/item2.png", alt="")
						span.
							Выставка  проходила 28-29 Мая при поддержке Правительства 
							Севастополя. Это уже третья выставка, посвященная тематике – 
							продовольственные товары, виноделие и технологии.  Экспозицию 
							сформировали более 40 представителей предприятий из 8 федеральных 
							округов России. Выставку посетил и губернатор Севастополя 
							Сергей Меняйло...
			article
				.body
					time 12/06/2016
					a(href="#").
						Компания «АмА-Дон» принимает участие
						в III Черноморском Форуме Виноделия,
						который проходит 30 июня – 1 июля
						в городе «Сочи»
					.text
						span.
							В этом году Форум проводится под высоким патронатом Международной 
							Организации Виноградарства и Виноделия. В рамках форума проводятся 
							конференции, выставки, презентации компаний и мастер-классы...
			article
				.body
					time 04/06/2016
					a(href="#") Компания «АмА-Дон» приняла участие в Выставке «Крым-Юг России»
					.text
						img(src="#{imgPath}/news/item1.png", alt="")
						span.
							Выставка  проходила 28-29 Мая при поддержке Правительства 
							Севастополя. Это уже третья выставка, посвященная тематике – 
							продовольственные товары, виноделие и технологии.  Экспозицию 
							сформировали более 40 представителей предприятий из 8 федеральных 
							округов России. Выставку посетил и губернатор Севастополя 
							Сергей Меняйло...
			
			nav.pagination
				ul
					li: a(href="#") 1
					li: a.active(href="#") 2
					li: a(href="#") 3
					li: a(href="#") 4
	
	include ./modules/table-menu.jade
	include ./modules/manager.jade
	
	
