extends ./layot

block config
	- var htmlClass = "news";
	
block content
	section.page-header
		.conainer
			p Новости
			
	section.detail
		.container
			a.back(href="#") Другие новости
			
			article
				time 04/06/2016
				.title.
					Компания «АмА-Дон» приняла участие в выставке «Крым-Юг России»
					в городе Севастополь
				p.
					Она проходила 28–29 мая при поддержке Правительства Севастополя. 
					Это уже третья выставка, посвященная данной тематике – 
					продовольственные товары, виноделие и технологии.  Экспозицию 
					сформировали более 40 представителей предприятий из 
					8 федеральных округов России.
				img(src="#{imgPath}/news/detail1.jpg")
				p.
					Выставку посетил и губернатор Севастополя Сергей Меняйло. 
					После официального открытия экспозиции он осмотрел выставочные стенды. 
					Выставка показала, что Крым открыт к сотрудничеству с другими регионами.
				p.
					Несмотря на то, что компания «АмА-Дон» уже не первый год сотрудничает 
					с Крымскими заводами игристых вин,
					в Выставке мы участвовали впервые.
				p.
					Результатом мы очень довольны: встречи с действующими клиентами, 
					знакомства с новыми производителями. На Выставке мы представили наши 
					новинки: литографированное мюзле, мюзле на сувенирную бутылку — 
					3, 6, 9 литров.
				img(src="#{imgPath}/news/detail2.jpg")
				p.
					Приятно, что наш стенд привлекал внимание — мы были рады нашим гостям!
					Хочется сказать спасибо организаторам выставки, нашим клиентам, и 
					Крыму за гостеприимство и прекрасную погоду!
				img(src="#{imgPath}/news/detail3.jpg")
				
			a.back(href="#") Другие новости
	
	include ./modules/table-menu.jade
	include ./modules/manager.jade
	
	
