extends ./layot

block config
	- var htmlClass = "not-found";
	
block content
	section.not-found-body
		.container
			h1 Ошибка 404
			p Страница не найдена.
			
			a.back(href="#") Вернуться на главную
	
	nav.table-menu
		.container
			table
				tr
					td
						a(href="#") Производство
					td
						a(href="#") Каталог мюзле
					td
						a(href="#") Контакты
