extends ./layot

block config
	- var htmlClass = "production";

block content
	section.page-header
		.conainer
			p Мюзле с литографией и конгревом плакетки

	section.description
		.container
			.column.img
				img(src="#{imgPath}/production/item.png", alt="")
			.column.description-body
				.title Описание
				.text.
					Мюзле используется для укупорки напитков натуральной #[br] корковой пробкой.
					Мюзле с плакеткой состоит из трех #[br] соединенных между собой частей —
					корзина, поясок, плакетка. Мюзле имеет номинальную высоту 38 мм.
					Каждая ножка #[br] корзины имеет свою петлю — три одинарных, одну двойную.

				button.btn-invert Парметры мюзле и плакетки

				.technology
					.title Технологии
					ul
						li Литография #[a.call-window.bubl(href="#litograpthy")]
						li Тиснение #[a.call-window.bubl(href="#tisnenie")]

				.title Преимущества
				ul
					li Эффективное средство рекламы и продвижения торговой марки
					li Позиционирование товарного знака
					li Повышение узнаваемости продукции

				.title Упаковка
				.text.
					Мюзле уложено в гирлянду. Транспортной упаковкой мюзле является
					короб из гофрокартона по ГОСТ 9142. В коробе уложено 3 уровня гирлянд
					мюзле.

	section.adventure
		ul
			li
				.body
					img(src="#{imgPath}/production/adventure/item1.png", alt="")
					p Постоянное наличие #[br] на складе популярных позиций
			li
				.body
					img(src="#{imgPath}/production/adventure/item2.png", alt="")
					p Короткие сроки поставок и строгое соблюдение графика
			li
				.body
					img(src="#{imgPath}/production/adventure/item3.png", alt="")
					p Бесплатная доставка
			li
				.body
					img(src="#{imgPath}/production/adventure/item4.png", alt="")
					p Бесплатное сервисное обслуживание

	section.gallery
		ul
			li
				.column.text
					.title Мюзле с плакеткой и литографией
					.line
					p для ЗАО КПП «Лазурный» г. Анапа
				.column.img
					img(src="#{imgPath}/production/slide.png", alt="")
			li
				.column.text
					.title Мюзле с плакеткой и литографией2
					.line
					p для ЗАО КПП «Лазурный» г. Анапа
				.column.img
					img(src="#{imgPath}/production/slide.png", alt="")
			li
				.column.text
					.title Мюзле с плакеткой и литографией3
					.line
					p для ЗАО КПП «Лазурный» г. Анапа
				.column.img
					img(src="#{imgPath}/production/slide.png", alt="")

	section.constructor
		.container
			.title Создайте ваше решение
			.render-img
				img(src="/upload/constructor/zolotoi-zolotoi.png")
			a.btn.call-window(href="#order") Отправить заявку
			.text
				p.
					Отметьте нужные параметры
					и отправьте нам заявку.
				p.
					Наш менеджер свяжется с вами
					и уточнит стоимость и условия сотрудничества.

			.choise-liptograpthy.color-plaques
				a(href="litografiya", data-color="#form-litograpthy") Плакетка с литографией
				a(href="kongrev", data-color="#form-kongrev") Плакетка с литографией и конревом

			.color-wires.colors
				p Выберите цвет проволоки
				include ./modules/constructor-colors.jade

			.color-plaques.colors
				p Выберите цвет плакетки
				include ./modules/constructor-colors.jade

		.popup#order
			.close
			.title Отправить заявку
			.body
				form
					input(type="text", name="q", value="")
					.section-product
						.form-group
							label(for="form-color-wires") Цвет проволоки
							.inp.wires
								span.color(style="background: #f3c024")
								input(type="hidden", name="color-wires", id="form-color-wires", value="#f3c024")
						.form-group.plaques
							label(for="form-color-plaques") Цвет плакетки
							.inp
								span.color(style="background: #f3c024")
								input(type="hidden", name="color-plaques", id="form-color-plaques", value="#f3c024")
						.form-group
							label(for="form-litograpthy") Плакетка с литографией
							.inp
								input(type="checkbox", name="color-plaques", id="form-litograpthy", value="Плакетка с литографией" disabled)
								label(for="form-litograpthy")
						.form-group
							label(for="form-litograpthyandcongrev") Плакетка с литографией и конгревом
							.inp
								input(type="checkbox", name="color-plaques", id="form-kongrev", value="Плакетка с литографией и конгревом" disabled)
								label(for="form-kongrev")
						.form-group
							label(for="form-counts") Тираж
							.inp
								input.require(type="tel", name="counts", id="form-counts")
								span.suffix шт.
					.section-company
						.form-group
							label(for="form-name-company") Название компании
							.inp
								input.require(type="text", name="name-company", id="form-name-company")
						.form-group
							label(for="form-name") ФИО
							.inp
								input.require(type="text", name="name", id="form-name")
						.form-group
							label(for="form-tel") Телефон
							.inp
								input.require(type="tel", name="tel", id="form-tel")
						.form-group
							label(for="form-email") E-mail
							.inp
								input.require(type="email", name="email", id="form-email")
						textarea(placeholder="Дополнительная информация по заказу", name="msg")
					input.btn-white(type="submit", value="Отправить")
				.sucsess-message.
					Спасибо за ваше обращение.#[br]
					Наш менеджер с вами свяжется в течение 1 часа.
	include ./modules/manager.jade
