extends ./layot.jade

block config
	- var htmlClass = "providers";

block content
	section.page-header
		.conainer
			p Поставщики
	section.provides-list
		.container
			ul
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item1.png", alt="")
						.title Bianchini Engineering Inc.
						p Поставщик проволоки, #[img(src="#{imgPath}/provides/flags/item1.png", alt="")] Испания 
						a(href="www.abianchini.es") www.abianchini.es
						.text
							p.
								Компания была основана в 1908 году группой итальянских 
								предпринимателей. С 1994 года производит высококачественную 
								оцинкованную проволоку, используемую для производства мюзле. 
								Компания Bianchini Engineering Inc является крупнейшим в Европе 
								поставщиком этого вида проволоки. Качество материала подтверждено 
								сертификатами ISO 9001:
							p.
								Проволока при поступлении на наше производство проходит входной 
								контроль с учетом требований ГОСТ-24297. 
								Имеет сопроводительные документы о качестве и протоколы испытаний.
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item2.png", alt="")
						.title Bekaert
						p Поставщик проволоки, #[img(src="#{imgPath}/provides/flags/item2.png", alt="")] Бельгия 
						a(href="www.bekaert.com") www.bekaert.com
						.text
							p.
								Мировой лидер в производстве стальной проволоки. Материал 
								устойчив к коррозии и имеет гладкую поверхность. Качество 
								проволоки подтверждено сертификатом ISO/is 16949.
							p.
								На выбор клиента — 9 цветов проволоки.
								Проволока при поступлении на наше производство проходит входной 
								контроль с учетом требований ГОСТ-24297. Имеет сопроводительные 
								документы о качестве и протоколы испытаний.
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item3.png", alt="")
						.title ООО «Печатные Технологии»
						p Партнер по литографии, #[img(src="#{imgPath}/provides/flags/item3.png", alt="")] Россия 
						a(href="www.print-metal.ru") www.print-metal.ru
						.text
							p.
								Российский лидер по литографированию и лакированию листовой жести. 
								Именно с их помощью мы наносим литографию на наши плакетки. 
								Производственный комплекс компании состоит из современного 
								оборудования: 6-красочной печатной машины Sprint LTG Mailander 
								производительностью 8 000 л/ч. и линии лакирования LTG Sprint 
								470 производительностью 8 000 л/ч. Благодаря этому, печать по 
								жести получается высококачественная, что удовлетворяет 
								потребности самых взыскательных клиентов. Контроль за 
								качеством продукции осуществляется на всех этапах 
								производственного цикла: от приемки жести до выхода 
								готовой продукции.
				li
					.body
						.logo
							img(src="#{imgPath}/provides/logo/item4.png", alt="")
						.title ООО «ПеЛаКрон»
						p Партнер по литографии, #[img(src="#{imgPath}/provides/flags/item3.png", alt="")] Россия 
						a(href="www.pelakrontver.ru") www.pelakrontver.ru
						.text
							p.
								Российское предприятие по производству полноцветной литографии 
								на жести, работающее на рынке более 10 лет. Компания оснащена 
								современным высокотехнологичным оборудованием немецких 
								производителей KBA - Metalprint и Soudronic group.
							p Качество литографии соответствует мировым стандартам.
							
	include ./modules/table-menu.jade
	include ./modules/manager.jade
