/*
 * Styles from page factory section about
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../history/history_about"

.about
	background: #292725
	color: #fff
	font-size: 0
	padding: 109px 0 77px
	position: relative

	&::before
		@extend %pseudo-line
		bottom: 0
		height: 228px
		left: 79px

	&::after
		@extend %pseudo-line
		bottom: 0
		left: 139px
		height: 320px

	.column
		width: 50%
		font-size: 24px

		h3
			margin: 0
			color: #ffe2a8
			font-size: 30px
			font-family: "pfregaldisplayproMediumItalic"
			font-weight: normal

		p
			margin: 44px 0 92px
			line-height: 1.2

		img
			display: block
			margin: 0 auto

		h2
			font-size: 50px
			font-weight: normal
			max-width: 420px
			margin: 328px 0 0
			line-height: 1.2
