/*
 * Styles from page factory section about2
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../history/history-advent"

.about-2
	.row
		font-size: 0
		padding: 123px 0 120px

		.column
			width: 50%
			line-height: 1.2

			p
				font-size: 24px
				margin: 0

			h2
				font-size: 50px
				margin: 0 auto
				display: block
				max-width: 449px

	ul
		@extend %advent-list
		max-width: 1150px
		padding-left: 10px
		padding-right: 38px
		margin: 0 auto
