/*
 * Styles from page factory section numbers
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */


.numbers
	ul
		+resetCss
		list-style-type: none
		font-size: 0

		li
			position: relative
			font-size: 24px
			color: #292725
			display: inline-block
			vertical-align: top
			width: 50%
			+transition(color)

			&:hover
				color: #fff

				.img
					&::before
						visibility: hidden
						opacity: 0

					img
						filter: grayscale(0)

			.img
				font-size: 0

				&::before
					content: ""
					+size(100%)
					display: block
					visibility: visible
					+absolute(0, auto, auto, 0)
					background: #fff
					opacity: 0.7
					z-index: 1
					+transition(all)

				img
					filter: grayscale(100%)
					width: 100%
					+transition(filter)

			.text
				+absolute(50%, auto, auto, 50%)
				z-index: 2
				transform: translate(-50%, -50%)
				text-align: center
				max-width: 277px

				span
					font-size: 200px

					@media(max-width: $medium)
						font-size: 150px

					@media(max-width: $small)
						font-size: 90px
				p
					margin: 0
