/*
 * Styles from page factory section provides
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../providers"

.provides
	background: #fff
	padding: 82px 0 112px

	.title
		font-size: 36px
		font-family: "PFRegalDisplayBold"
		margin: 0 0 76px

	ul
		@extend %providers-list
		display: block
		font-size: 0

		li
			font-size: 20px
			width: 25%
			display: inline-block
			vertical-align: top

			@media(max-width: $small)
				width: 50%
				margin-bottom: 50px

			.body
				.title
					font-size: 22px
					margin: 40px 0 5px

				p
					margin: 0 0 4px
