/*
 * Styles from page factory section video
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.video
	position: relative
	max-height: 970px
	overflow: hidden

	video
		width: 100%
		height: 100%

	.play
		+bg("factory/play.png", no-repeat)
		+absolute(50%, 0, 0, 50%)
		transform: translate(-50%, -50%)
		width: 105px
		height: 112px
		cursor: pointer
		z-index: 1

	&.playing
		video
			cursor: pointer

		.play
			display: none

		.poster
			display: none

	.poster
		+absolute(0, auto, auto, 0)
		+size(100%)
