/*
 * Style from detail news
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%back
	color: #000000
	text-decoration: none
	+bg("news/back.png", 0 0 no-repeat)
	padding-left: 37px
	margin: 86px 0 43px
	display: inline-block

.detail
	background: #fff
	font-size: 22px
	padding: 23px 0 57px

	.back
		@extend %back

	article
		max-width: 1020px
		line-height: 1.2

		time
			color: #e0b55f
			font-size: 20px
			font-family: "futurafuturiscRegular"

		.title
			font-size: 50px
			font-family: "PFRegalDisplayBold"
			margin: 33px 0 52px

		p
			margin: 0 0 32px

		img
			margin: 0 0 35px
