/*
 * Style from news pages
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.news-list
	background: #fff
	padding: 110px 0 86px

	.container
		font-size: 0

		article
			display: inline-block
			vertical-align: top
			width: 50%
			font-size: 20px
			margin-bottom: 75px

			.body
				width: 90%
				line-height: 1.2

				time
					display: block
					color: #e0b55f
					font-family: "futurafuturiscRegular"

				a
					display: block
					font-size: 30px
					font-family: "PFRegalDisplayBold"
					color: #000
					text-decoration: none
					margin: 30px 0 33px
					+transition(color)

					&:hover
						color: #e0b55f

				.text
					display: flex

					img
						min-width: 151px
						height: 100%
						margin-right: 14px

		.pagination
			font-size: 20px
			text-align: center
			margin: 20px 0 0
			font-family: "futurafuturiscRegular"

			ul
				+resetCss
				list-style-type: none

				li
					display: inline-block
					padding-right: 33px
					position: relative

					&::after
						content: ""
						width: 1px
						height: 7px
						background: #e2ba6a
						display: inline-block
						vertical-align: middle
						position: relative
						left: 47%
						top: -1px

					&:last-child
						padding-right: 0

						&::after
							display: none

					a
						color: #161616
						text-decoration: none
						display: inline-block
						line-height: 35px
						+size(35px)
						+transition(color)

						&:hover
							color: #e6c37e

						&.active
							border-radius: 100%
							border: 1px solid #e6c37e
