a(href="rozovyi", data-color="#f774ca" style="background: #f774ca")
a(href="krasnyi", data-color="#d42828" style="background: #d42828")
a(href="sinii", data-color="#456fb2" style="background: #456fb2")
a.active(href="zolotoi", data-color="#f3c024", style="background: #f3c024")
a(href="belyi", data-color="#ffffff" style="background: #ffffff")
a(href="oliva", data-color="#9aac38" style="background: #9aac38")
a(href="zelenyi", data-color="#47a319" style="background: #47a319")
a(href="korichnevyi", data-color="#a8691e" style="background: #a8691e")
a(href="seryi", data-color="#cacabf" style="background: #cacabf")
a(href="chernyi", data-color="#363636" style="background: #363636")
