ul
	li
		.column.img
			img(src="#{imgPath}/employees/item1.png", alt="")
		.column.text
			.name Давиденко Александр Владимирович
			p Генеральный директор
			ul
				li Телефон приемной: +7 (863) 300-21-60
	li
		.column.img
			img(src="#{imgPath}/employees/item2.png", alt="")
		.column.text
			.name Савченко Надежда Алексеевна 
			p Руководитель финансово-экономической службы
			ul
				li Тел.: +7 (863) 300-21-62
				li E-mail: #[a(href="mailto:savchenko.na@ama-don.ru") savchenko.na@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item3.png", alt="")
		.column.text
			.name Капустин Владимир Федорович 
			p Главный инженер
			ul
				li Тел.: +7 (863) 255-45-90
				li E-mail: #[a(href="mailto:kapustin.vf@ama-don.ru") kapustin.vf@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item4.png", alt="")
		.column.text
			.name Атоева Евгения Викторовна
			p Менеджер по логистике 
			ul
				li Тел.: +7 (863) 255-45-56
				li E-mail: #[a(href="mailto:atoeva.ev@ama-don.ru") atoeva.ev@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item5.png", alt="")
		.column.text
			.name Помазков Тимофей Владимирович
			p Начальник производства 
			ul
				li Тел.: +7 (863) 255-45-90
				li E-mail: #[a(href="mailto:pomazkov.tv@ama-don.ru") pomazkov.tv@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item6.png", alt="")
		.column.text
			.name Мандрыкин Александр Васильевич
			p Начальник  отдела продаж
			ul
				li Тел.: +7 (863) 204-32-17
				li E-mail: #[a(href="mailto:mandrikin.av@ama-don.ru") mandrikin.av@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item7.png", alt="")
		.column.text
			.name Сикорова Елена Игоревна
			p Руководитель службы качества
			ul
				li Тел.: +7 (863) 255-45-90
				li E-mail: #[a(href="mailto:elenasikorova@bk.ru") elenasikorova@bk.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item8.png", alt="")
		.column.text
			.name Стененко Анастасия Владимировна
			p Менеджер по закупке основного сырья
			ul
				li Тел.: +7 (863) 255-45-56
				li E-mail: #[a(href="mailto:kiriluk.av@ama-don.ru") kiriluk.av@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item9.png", alt="")
		.column.text
			.name Сережникова Инна Дмитриевна
			p Менеджер отдела маркетинга и продаж 
			ul
				li Тел.: +7 (863) 300-21-60
				li E-mail: #[a(href="mailto:serezhnikova.id@ama-don.ru") serezhnikova.id@ama-don.ru]
	li
		.column.img
			img(src="#{imgPath}/employees/item10.png", alt="")
		.column.text
			.name Кузьменко Геннадий Павлович
			p Руководитель службы персонала
			ul
				li Тел.: +7 (863) 255-45-90
