section.manager
	.container
		.column.img
			img(src="#{imgPath}/manager.png", alt="")
			
		.column.text
			p.
				Обращайтесь к нашему менеджеру Елене. Она посчитает ваш заказ и 
				подскажет лучшее решение.
			ul
				li.
					#[span Телефон:]
					+7 (863) 300-21-60
				li.
					#[span Skype:]
					ama-don
				li
					span E-mail:
					a(href="emailto:info@ama-don.ru") info@ama-don.ru
			
			a.call-window.btn-white(href="#form-quest") Задайте вопрос
