ul
	li
		a(href="#")
			.img
				img(src="#{imgPath}/main-items/item1.png", alt="")
				img.hover(src="#{imgPath}/main-items/item-hover1.png", alt="")
			p Мюзле без плакетки
	li
		a(href="#")
			.img
				img(src="#{imgPath}/main-items/item2.png", alt="")
				img.hover(src="#{imgPath}/main-items/item-hover2.png", alt="")
			p Мюзле с плакеткой
	li
		a(href="#")
			.img
				img(src="#{imgPath}/main-items/item3.png", alt="")
				img.hover(src="#{imgPath}/main-items/item-hover3.png", alt="")
			p Мюзле из цветной проволоки с плакеткой
	li
		a(href="#")
			.img
				img(src="#{imgPath}/main-items/item4.png", alt="")
				img.hover(src="#{imgPath}/main-items/item-hover4.png", alt="")
			p Мюзле с литографией плакетки
	li
		a(href="#")
			.img
				img(src="#{imgPath}/main-items/item5.png", alt="")
				img.hover(src="#{imgPath}/main-items/item-hover5.png", alt="")
			p Мюзле с литографией и конгревом плакетки
