nav.table-menu
	.container
		table
			tr
				td
					a(href="#") История
				td
					a(href="#") Новости
				td(rowspan="2")
					a(href="#") Каталог мюзле
			tr
				td
					a(href="#") Сертификаты
				td
					a(href="#") Поставщики
