/*
 * Styles from description section
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.adventure
	background: #292725
	padding: 100px 0 73px

	ul
		+resetCss
		list-style-type: none
		color: #fff
		font-size: 0
		display: flex
		justify-content: space-between
		align-items: center
		max-width: 1662px
		margin: 0 auto
		
		li
			.body
				max-width: 280px
				font-size: 22px

				p
					margin: 28px 0 0
					line-height: 1.1

				img
					margin-left: 1px
