/*
 * Styles from constructor section
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.constructor
	background: #ede0ce
	font-size: 22px
	position: relative

	@media(max-width: $medium)
		font-size: 20px

	.container
		position: relative
		padding: 124px 0 127px
		line-height: 1

		.title
			font-size: 50px
			font-family: "PFRegalDisplayBold"
			text-align: center
			max-width: 365px
			margin: 0 auto

			@media(max-width: $small)
				font-size: 42px

		.render-img
			text-align: center
			vertical-align: middle
			+bg("production/constructor-bg.png", no-repeat center center)
			width: 61.511%
			height: auto
			margin: -18px 0 0 18.7%
			background-size: cover

			img
				margin: 9% auto 9%
				width: 60%

		.btn
			display: table
			padding: 13px 41px
			margin: -11px auto 0
			border-radius: 50px
			font-size: 26px

			@media(max-width: $small)
				padding: 4px 26px
				font-size: 20px

		.text
			font-size: 24px
			font-family: "futurafuturiscRegular"
			+absolute(24.9%, 0, 0, 9px)
			line-height: 1.2
			width: 24.5%

			@media(max-width: $small)
				font-size: 19px

			p
				margin: 0 0 30px

		.colors
			width: 18%
			position: absolute
			top: 57.9%

			p
				margin: 0 0 28px

			a
				display: inline-block
				vertical-align: top
				+size(23px)
				border-radius: 100%
				margin-right: 25px
				margin-bottom: 25px
				outline: none

				&.active
					position: relative

					&:before
						content: ''
						+size(50%)
						background: #ede0ce
						border-radius: 100%
						+absolute(6px, 0, 0, 6px)

		.color-wires
			left: 0.6%

		.color-plaques
			right: 1.2%

		.choise-liptograpthy
			width: 19%
			+absolute(27.5%, 0, 0.5%, auto)

			a
				color: #292725
				text-decoration: none
				position: relative
				padding-left: 40px
				display: block
				margin-bottom: 19%
				line-height: 1.1
				outline: none

				&.active
					&::before
						border: none
						+bg("production/v.png", no-repeat center center #292725)

				&::before
					content: ""
					+size(24px)
					border-radius: 4px
					border: 1px solid #e0b55f
					display: block
					+absolute(-4px, 0, 0, 3px)

	#order
		position: absolute
		padding: 31px 35px 29px
		width: 578px

		.close
			top: 38px
			right: 29px

		.title
			margin-bottom: 43px

		.body form
			.section-product .form-group
				margin: 0 0 25px

				&:last-child
					margin: -8px 0 37px

			.form-group
				justify-content: flex-start

				label
					width: 210px

				.inp
					width: 285px
					margin-left: auto
					position: relative

					.error-msg
						left: 0

					input
						width: 100%
						margin-left: 0

						&#form-counts
							width: 102px

						&[type="checkbox"]
							+size(25px)
							display: none

							&:checked ~ label
								+bg("production/v.png", no-repeat center center #3e3c3a)

					label
						display: block
						+size(25px)
						border-radius: 4px
						background: #3e3c3a

					.suffix
						margin-left: 15px

					.color
						display: block
						border-radius: 100%
						+size(23px)
