/*
 * Styles from description section
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.description
	background: #ffffff
	padding: 85px 0 96px
	font-size: 0

	.container
		max-width: 1470px

		.column
			vertical-align: top
			font-size: 20px

			&.img
				width: 59%
				padding: 22px 0 0

				img
					width: 100%
					max-width: 797px

			&.description-body
				width: 38%

				.title
					font-size: 26px
					font-family: "futurafuturiscRegular"
					margin: 50px 0 17px

					&:first-child
						margin-top: 0

				.text
					margin: 0 0 28px
					line-height: 1.2

				.btn-invert
					padding: 0 30px

				ul
					+resetCss
					list-style-type: none

					li
						position: relative
						margin-bottom: 12px

						&::before
							content: "—"
							color: #e0b55f
							padding-right: 5px

						.bubl
							+bg("production/quest.png", no-repeat)
							+size(23px)
							display: block
							+absolute(0, 0, auto, auto)

				.technology
					.title
						margin-top: 57px

					ul li
						width: 156px
