/*
 * Styles from gallery section
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.gallery
	padding: 73px 0 75px

	ul
		+resetCss
		font-size: 0

		.slick-arrow
			top: 16.1%
			left: 6%

			@media(max-width: $medium)
				transform: scale(0.7)

			@media(max-width: $small)
				top: 0

		.slick-prev
			top: 66.6%

			@media(max-width: $small)
				bottom: 0
				top: auto

		li
			outline: none

			.column
				width: 49.87%
				font-size: 17px
				display: inline-block
				vertical-align: top

				@media(max-width: $small)
					vertical-align: middle

				&.text
					font-size: 22px
					margin: 13.4% 0 0

					@media(max-width: $small)
						margin: 0

					.line
						background: #e0b55f
						width: 107.5%
						position: relative
						z-index: 1
						height: 1px
						margin: 14px 0 17px

					p
						+resetCss
						margin-left: 28%
						width: 345px

					.title
						@extend p
						font-size: 36px
						font-family: "PFRegalDisplayBold"
						line-height: 1

				&.img
					img
						width: 97.47%
