/*
 * Styles from page history section history slide
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.history-slide
	background: #fff
	padding: 0 0 80px

	ul
		+resetCss
		list-style-type: none

	.navigation
		padding: 105px 10px 73px
		white-space: nowrap
		overflow: hidden

		ul
			position: relative

			li
				font-size: 26px
				font-family: "futurafuturiscRegular"
				display: inline-block
				cursor: pointer
				line-height: 1

				&::after
					content: ""
					display: inline-block
					+bg("history/pagination-bg.png", no-repeat center 14px)
					width: 112px
					height: 26px
					margin: 0 41px

				&:last-child
					&::after
						display: none

				&.active
					color: #ffe2a8

	.content
		margin-left: 14%

		ul
			.slick-arrow
				left: -10.5%
				top: 57%

			.slick-next
				bottom: auto
				top: 26%

			li
				max-width: 1366px
				width: 85vw

				.column
					display: inline-block
					vertical-align: top

					@media(max-width: 1500px)
						vertical-align: middle

				.title
					font-family: "PFRegalDisplayblack"
					font-size: 82px
					width: 199px

					@media(max-width: 1500px)
						display: block

				.text
					max-width: 420px
					margin-top: 11.1%
					line-height: 1.2

					@media(max-width: 1500px)
						margin-top: 0

					@media(max-width: 1250px)
						width: 100%
						max-width: 100%

					p
						margin: 0 0 24px

				.img
					width: 595px
					margin-left: 4%
					margin-top: 7%

					&:before
						content: ""
						+size(290px)
						display: inline-block
						vertical-align: top
						padding-right: 11px
						padding-bottom: 13px

						@media(max-width: 1250px)
							display: none

					img
						display: inline-block
						vertical-align: top
