/*
 * Styles from page history
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%advent-list
	+resetCss
	list-style-type: none
	font-size: 0
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	li
		font-size: 20px
		margin-bottom: 108px

		.body
			max-width: 420px
			line-height: 1.2

			.icon
				+bg("history/advent-bg.png", no-repeat)
				+size(73px)

			.title
				font-family: "futurafuturiscRegular"
				font-size: 26px
				margin: 46px 0 17px

			ul
				display: block
				margin: 0 0 17px

				li
					display: block
					width: 100%
					margin: 0 0 11px

					&:before
						content: "—"
						color: #e0b55f
						margin-right: 5px
			p
				margin: 0 0 15px

.advent
	margin: 131px auto -36px
	max-width: 1155px
	padding-left: 10px
	padding-right: 40px

	ul
		@extend %advent-list
