/*
 * Styles from history about block
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%pseudo-line
	content: ""
	width: 1px
	height: 460px
	position: absolute
	background: #e2ba6a

	@media(max-width: 1550px)
		display: none

.about-history
	background: #292725
	color: #fff
	font-size: 0
	display: flex
	align-items: center
	position: relative

	&::after
		@extend %pseudo-line
		top: -160px
		right: 135px

	&::before
		@extend %pseudo-line
		top: -66px
		right: 75px

	.column
		width: 50%

	.img
		overflow: hidden
		width: 46.2%
		margin-right: 3.7%

	.text
		font-size: 24px
		align-self: flex-end
		line-height: 1.2

		@media(max-width: $medium)
			padding-right: 20px

		.body
			max-width: 733px

			h3
				margin: 50px 0 54px
				font-weight: normal
				font-family: "pfregaldisplayproMediumItalic"
				color: #ffe2a8
				line-height: 1.3

			p
				margin: 0 0 71px
