/*
 * Styles from block manager
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.manager
	background: #292725
	color: #fff
	padding: 107px 0


	.container
		max-width: 820px
		min-width: auto
		font-size: 0
		padding: 0

		.column
			width: 50%

			&.img
				img
					margin-left: 40px

			&.text
				font-size: 22px

				p
					color: #ffe2a8
					font-family: "futurafuturiscRegular"
					margin: 0

				ul
					+resetCss
					list-style-type: none
					font-size: 20px
					margin: 38px 0
					line-height: 30px

					li
						span
							display: inline-block
							min-width: 85px

						a
							color: #fff
							text-decoration: underline

							&:hover
								text-decoration: none
								color: inherit

				.btn-white
					padding: 0 29px
					position: relative
					top: 4px
