/*
 * Styles from block manager
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.overlay
	background: rgba(255, 235, 194, 0.70)
	+size(100%)
	position: fixed
	top: 0
	left: 0
	z-index: 1
	cursor: pointer
	display: none

.popup
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 2
	background: #292725
	width: 557px
	color: #fff
	font-size: 20px
	padding: 21px 39px 29px
	display: none
	min-height: 257px

	&.sucsess
		.title
			display: none

		form
			display: none

		.sucsess-message
			visibility: visible
			+transition(visibility)

	.sucsess-message
		text-align: center
		+absolute(50%, auto, auto, 50%)
		transform: translate(-50%, -50%)
		width: 100%
		font-size: 20px
		visibility: hidden

	.close
		+bg("close.png", no-repeat)
		cursor: pointer
		+absolute(27px, 22px)
		+size(18px)

	.title
		color: #ffe2a8
		font-family: "PFRegalDisplayBold"
		font-size: 32px
		margin-bottom: 23px

	.body
		line-height: 1.2

		form
			margin: 35px 0 0

			%input
				background: #3e3c3a
				color: #ffe2a8
				border: none
				height: 37px
				line-height: 37px
				padding: 0 17px
				width: 317px
				outline: none

			.form-group
				display: flex
				justify-content: space-between
				margin: 0 0 13px
				align-items: center
				position: relative

				input
					@extend %input
					margin-left: auto

			textarea
				@extend %input
				width: 100%
				height: 102px
				resize: none
				margin: 11px 0 26px
				padding: 2px 11px 0

			.error
				border: 1px solid red !important

			.error-msg
				position: absolute
				left: 186px
				top: 100%
				background: red
				z-index: 1
				padding: 0 5px

			.btn-white
				margin-left: 6px
				padding: 0 44px

#form-quest
	width: 577px
	padding: 21px 37px 29px
