/*
 * Styles from table menu
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.table-menu
	height: 321px
	padding: 64px 0 0

	.container
		table
			margin: 0 auto
			width: 100%
			font-size: 22px

			tr
				$border: 1px solid #f4eee6

				&:first-child
					border-bottom:	$border

				td
					$h: 96px

					width: 33.333%
					text-align: center
					vertical-align: middle
					height: $h
					border-right: $border

					&:nth-child(3)
						border: none

						a
							height: auto
							line-height: $h * 2


					a
						display: block
						width: 100%
						height: 100%
						line-height: $h
						background: #e2ba6a
						color: #000
						text-decoration: none
						+transition(background)

						&:hover
							background: #c5a25b
							color: #fff
