/*
 * Styles form section adventure
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.about
	background: #292725
	font-size: 0
	padding: 131px 0 54px

	.container
		ul
			+resetCss
			list-style: none

			li
				font-size: 22px
				color: #fff
				display: inline-block
				vertical-align: top
				width: 54.5%
				margin: 0 0 113px
				transform: scale(0)
				opacity: 0

				&.active
					transform: scale(1)
					opacity: 1
					transition: .5s cubic-bezier(.215,.61,.355,1)

				&:nth-child(2n)
					width: 45.5%

				.text
					max-width: 565px

					h3
						font-weight: normal
						font-size: 36px
						font-family: "PFRegalDisplayBold"
						color: #e0b55f
						margin: 16px 0 25px
						line-height: 1

					p
						+resetCss
