/*
 * Styles form section adventure
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.adventure
	padding: 59px 0 72px

	.container
		padding: 0 15px

		ul
			+resetCss
			list-style-type: none
			display: flex
			justify-content: space-between

			li
				display: inline-block
				+bg("adventure-bg.png", no-repeat)
				background-size: contain
				max-width: 380px
				width: 28%
				height: 380px
				font-size: 26px
				text-align: center
				position: relative
				font-family: "futurafuturiscRegular"

				@media(max-width: $medium)
					height: 350px

				@media(max-width: 1130px)
					height: 300px
					font-size: 20px

				@media(max-width: $small)
					height: 265px
					font-size: 15px


				.text
					max-width: 225px
					width: 100%
					+absolute(50%, auto, auto, 50%)
					transform: translate(-50%, -50%)
