/*
 * Styles from banner
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.banner
	position: relative

	.image
		width: 100%
		height: 100vh
		overflow: hidden

	.cover
		background: RGBA(0, 0, 0, 0.45)
		+absolute(0)
		width: 100%
		height: 100%

		.text
			+absolute(53%, auto, auto, 51%)
			transform: translate(-50%, -50%)
			color: #fff
			font-size: 90px
			font-family: "PFRegalDisplayBold"
			width: 980px
			line-height: 1

			@media(max-width: $small)
				max-width: 980px
				width: auto
				font-size: 70px

		.down
			+bg("baner-down.png", no-repeat)
			+absolute(auto, auto, 35px, 50%)
			display: block
			width: 51px
			height: 25px
			transform: translateX(-50%)

			&::after
				content: ""
				background: inherit
				width: inherit
				height: inherit
				position: absolute
				background-position: 0 -27px
				opacity: 0
				+transition(opacity)

			&:hover::after
				opacity: 1

	.preload
		background: #292725
		+absolute(0, 0)
		+size(100%)
		z-index: 1

		img
			animation: pulsate 3s linear infinite

			@keyframes pulsate
				0%
					opacity: 0.2
				50%
					opacity: 1
				100%
					opacity: 0.2

			+absolute(50%, auto, auto, 50%)
			transform: translate(-50%, -50%)
