/*
 * Styles from main page section items
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.items
	background: #fff

	@extend %subitems

	ul
		font-size: 0

		li
			width: 20% !important
			margin: 72px auto 57px !important
			display: inline-block
			padding: 0 20px
			vertical-align: top

			img
				max-width: 330px

			a
				p
					margin: 0 0 0 42px
					letter-spacing: 1px
					max-width: 225px
