/*
 * Styles form section adventure
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.news
	font-size: 0
	margin: 83px 0 0

	article
		font-size: 20px
		display: inline-block
		vertical-align: top
		width: 33.333%

		.body
			max-width: 355px

			@media(max-width: $small)
				width: 250px

			time
				display: block
				color: #e0b55f
				font-size: 22px
				font-family: "PFRegalDisplayBold"

			a
				font-size: 22px
				font-family: "futurafuturiscRegular"
				color: #161616
				text-decoration: none
				display: block
				margin: 52px 0 20px

				&:hover
					color: #e0b55f
					+transition(color)

			.text
				line-height: 1.1

	.btn
		margin: 14px 0 0
